body {
    font-family: sans-serif;
    background: white;
    margin: 0;
    background-color: #333;
}

.mainbox {
    border: 2px solid black;
    max-width: 500px;
    max-height: 400px;
    margin: auto;
    padding: 40px;
    background: white;
    /*#D3D3D3;*/
}



input[type=text] {
    width: 150px;
    max-width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    text-align: center;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
    text-align: center;
}

.btn {
    width: 52px;
    height: 52px;
    position: realtive;
}

textarea,
input {
    padding: 10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
