.p {    
    border: 1px solid black;
    background-color: white;
    padding: 50px 50px 50px 50px;
    max-width: 1000px;
    margin: 25px;
    postion: aboslute;
}
 .l {    
    background-color: #ECECEA;
    max-width: 900px;
    border: 25px solid green;
    border-color: #558C89;
    padding: 25px;
    margin: 31px;
}

.img {        
    padding: 25px;
    margin: 31px;
}

