.simple-boarder{
	border:1px solid black;
	margin: 50px 50px 50px 50px;
	padding-bottom:.67em;
	background-color: white;
}
body{
	background-color:black;
}


.center-box {
	text-align: center;	
  margin:auto;
  margin-top: 50px;
  width:550px;
  padding:50px;
    
}

.quote_content{	
	min-height: 150px;		
	padding-top:auto;
	text-align: center;	
}

/* This style centers the text no matter the size, but its percentage postional base. Only works on one size*/
.stuff{	  
  top: 21%;
  left: 50%;
  position: absolute;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 35%;
  overflow: hidden;
  
}

.quote-text {
	top: 21%;
  left: 50%;
  position: absolute;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 35%;
 }
