/* #008cfa = Blue */
/*body {
    background-color: #a0d0ff;
	--button-theme: #0080ff;
	--gameBoard-theme: #0060ff;
	white-space: nowrap;
	text-align: center;
}*/

h1{
	font-family: "Arial", Arial, Sans-serif;
	font-size: 20px;
	background-color: lightblue;

	text-align: center;
	padding: 10px;
}

div.actions{
	text-align: center;
}

input.link{
	font-family: "Arial", Arial, Sans-serif;
	font-size: 16px;
	
	width: 25%;
	padding: 10px;
	margin: 5px;
	border: 2px solid lightblue;
	border-radius: 4px;
}

label{
	display: inline-block;
	float: left;
	clear: left;
	width: 20%;
	text-align: right;

	margin-top: 10px;

	font-family: "Arial", Arial, Sans-serif;
	font-style: bold;
	font-size: 14px;
}

select,
textarea,
input{
	padding: 5px;
	margin: 5px;
	border: 2px solid grey;
	border-radius: 4px;
}

select:focus,
textarea:focus,
input:focus{
	border: 2px solid lightblue;
	border-radius: 4px;
}

input.red{
	background-color: #ffdddd;
}